/* Main container */
.datepicker-input {
    border: 1px solid;
    margin-bottom: 10px;
    color: inherit; /* Inherit from props */
    font-family: inherit; /* Inherit font-family from parent */
    transition: background-color 0.3s ease;
}

/* Datepicker popup */
.datepicker-popup {
    border: 1px solid;
    background-color: inherit; /* Inherit from props */
    position: absolute;
    width: 370px;
    margin-top: 5px;
    z-index: 10000;
    padding: 15px;
}

/* Datepicker header */
.datepicker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.datepicker-header-month,
.datepicker-header-year {
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.datepicker-arrow {
    border: 1px solid;
    width: 30px; /* Set width */
    height: 30px; /* Set height */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%; /* Circle shape */
    transition: color 0.3s ease, border 0.3s ease;
}

/* Styles for days */
.datepicker-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days */
    gap: 5px;
}

.datepicker-day {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.datepicker-week {
    padding: 10px;
    text-align: center;
    font-weight: 550;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.datepicker-day.selected {
    background-color: inherit; /* Highlight selected day */
    color: inherit;
}

/* Styles for months */
.datepicker-months {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.datepicker-month {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s, border 0.3s;
}

.datepicker-month.current {
    background-color: transparent; /* No background */
}

/* Styles for years */
.datepicker-years {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 20vh;
    overflow-y: scroll;
}

.datepicker-year {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s, border 0.3s;
}

.datepicker-year.current {
    background-color: transparent; /* No background */
}
